#WelcomeAlert{
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

#WelcomeAlert div{
    background-color: rgb(3, 3, 54);
    border: none;
    color: white;
}