
div.card:hover{
    box-shadow: 3px 3px 20px rgb(178, 178, 178);
     
 }

 div.card img.card-img-top{
 height: 300px;
 object-fit: cover;
}

div.card div.card-body div.card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
   }